# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Jupyter (if used later)
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# PyTorch / HuggingFace cache (optional but good)
.cache/
